.calculator {
  height: calc(100% - 100px);
  display: grid;
  grid-template:
    "search liked" 40%
    "result liked" 60% / 60% 40%;

  & .search,
  & .result,
  & .liked {
    padding: var(--container-padding);
    border: var(--border);
  }

  & .search {
    grid-area: search;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .description {
    }

    & .search-input-btn {
      display: flex;

      & button {
        margin-left: -2px;
      }
    }
  }

  & .result {
    grid-area: result;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & h1 {
      align-self: flex-start;
    }

    & .gif-title {
      text-align: center;
    }

    & .gif-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      height: 250px;
      background-color: #cccccc;

      & img {
        margin: 0 auto;
        max-width: 250px;
        max-height: 250px;
      }
    }

    & .btn-like {
      height: 23px;
      width: 69px;
    }

    & .weirdness-selector,
    & .weirdness-selector input {
      width: 100%;
    }
  }

  & .liked {
    grid-area: liked;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
      align-self: flex-start;
    }
    justify-content: space-between;

    & .liked-gifs {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        height: 175px;
        margin: 20px 5px 0 5px;

        & .gif-container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 150px;
          background-color: #cccccc;
          position: relative;
        }

        & .gif-title {
          margin-top: auto;
          margin-bottom: 5px;
        }

        & img {
          max-width: 100%;
          max-height: 100%;
        }

        & .remove {
          position: absolute;
          top: 0;
          right: 0;
          background-color: white;
        }
      }
    }

    & .calculate {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: auto;
    }
  }
}
