header {
  background-color: var(--header-bg-color);
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  padding: 0 20px;
  font-size: 24px;
  font-weight: bold;
  border: var(--border);
}
